<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <extensions>
    <!-- required for ASP.NET integration (colors, layout renderers, etc.) -->
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="Elastic.NLog.Targets"/>
  </extensions>

  <targets>
    <!-- Colored console output -->
    <target xsi:type="ColoredConsole" name="console"
            layout="${longdate} | ${level:uppercase=true} | ${logger:shortName=true} | ${message} ${exception:format=toString}${when:when='${level:uppercase=true}'=='TRACE':inner=' | Headers: ${aspnet-request-headers:format=keyValue;separator=\; }'}">
      <rowHighlightingRules>
        <highlightingRule condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
        <highlightingRule condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlightingRule condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlightingRule condition="level == LogLevel.Info" foregroundColor="Green" />
        <highlightingRule condition="level == LogLevel.Debug" foregroundColor="Gray" />
        <highlightingRule condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      </rowHighlightingRules>
    </target>

    <!-- Rolling file target: daily, keep 14 archives, compress archives -->
    <target xsi:type="File" name="file"
            fileName="${basedir}/logs/app.log"
            archiveFileName="${basedir}/logs/archives/app.{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            enableArchiveFileCompression="true"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate}|${level:uppercase=true}|${mdlc:item=CorrelationId:whenEmpty=-}|${mdlc:item=TraceId:whenEmpty=-}|${logger}|${message}${exception:format=toString}${when:when='${level:uppercase=true}'=='TRACE':inner=' | Headers: ${aspnet-request-headers:format=keyValue;separator=\; }'}" />
    
    <!-- Rolling file for business logic logs -->
    <target xsi:type="File" name="logicFile"
            fileName="${basedir}/logs/app_logic.log"
            archiveFileName="${basedir}/logs/archives/app_logic.{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            enableArchiveFileCompression="true"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate}|${level:uppercase=true}|${mdlc:item=CorrelationId:whenEmpty=-}|${mdlc:item=TraceId:whenEmpty=-}|${logger}|${message}${exception:format=toString}${when:when='${level:uppercase=true}'=='TRACE':inner=' | Headers: ${aspnet-request-headers:format=keyValue;separator=\; }'}" />

    <!-- If you want OpenSearch/Elastic, re-enable and configure the target below -->
    <!--
    <target xsi:type="OpenSearch"
            name="opensearch"
            uri="http://opensearch.logs.svc.minnaloushe.net:9200"
            index="application-logs-${shortdate}"
            documentType="_doc"
            includeAllProperties="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}">
      <headers>
        <add name="Authorization" value="Basic base64userpass" />
        <add name="Content-Type" value="application/x-ndjson" />
      </headers>
    </target>
    -->
    
  </targets>

  <rules>
    <!-- Specific business-logic logger: both console and logic file, trace and above -->
    <logger name="Template.WebApi.*" minlevel="Trace" writeTo="console,logicFile" />

    <!-- Console for all loggers: trace and above (ensures you see console output) -->
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!-- File for everything: info and above -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>